@{
    ViewData["Title"] = "Home Page";
    
}
<body style="background-image: url(./images/bg.jpg)">
    <!-- Blurb -->
    <!-- Parallax Scroll Section with Title and Description -->

    <div class="parallax" style="background-image: url('./images/RD_Syd.jpg');">

        @* <img src="images/LogoLight.svg" class="smaller-logo" /> *@
        @*  <div class="content"> *@

        <h1 style="font-size: 4rem; text-align: left; color: ghostwhite; margin-top: 5%;">Welcome to BeanScene Where Flavor Meets Elegance</h1>
        <p style="font-size: 1.5rem; text-align: left;  color: ghostwhite; margin-top: 20px;">Where culinary excellence and sophistication converge to provide you with an unparalleled dining experience. Nestled in the heart of The Rocks, Sydney, our establishment stands as a testament to the art of gastronomy and the beauty of the Sydney skyline. As you step into our world, you'll embark on a culinary journey that transcends mere dining. Every dish is a masterpiece, every moment is a memory.</p>
    </div>


    <div class="container" style="margin-bottom: 5%;">
        
        <div class="row mt-5">
            <div class="col-lg-6">
                <h2>Welcome to BeanScene Restaurant</h2>

                <p>
                    The ambiance at BeanScene Restaurant is a seamless blend of contemporary elegance and warm hospitality. Whether you're celebrating a special occasion or seeking an intimate dinner for two, our restaurant offers the perfect setting. Immerse yourself in the chic, stylish décor while enjoying the gentle sounds of live music that grace our evenings.
                </p>
                <p>
                    Our dedicated team is committed to making your visit exceptional. With a passion for service, they ensure your every need is met, and your dining experience is truly memorable.
                </p>
                <p>
                    BeanScene Restaurant invites you to be part of a culinary journey that celebrates life, love, and the joy of savoring remarkable food. Join us in our commitment to excellence and indulge in an experience that will leave a lasting imprint on your heart.
                </p>

            </div>
            <div class="col-lg-6">
                <img src="images/res_syd.jpg" alt="Restaurant View" class="img-fluid beveled-image">
            </div>
        </div>
    </div>
    <div class="parallax" style="background-image: url('./images/bg_syd.jpg')">
        <div class="content">
            <div class="text-center parallax-content">
                <h1 class="display-4">Reserve a spot</h1>
                <p>Reserve your table today and become part of the BeanScene experience.</p>
                <a asp-action="Guest" asp-controller="Reservations" class="btn btn-primary">Create Reservations</a>
            </div>
        </div>
    </div>


    <!-- Parallax Background Images -->
    <!-- About Us -->
    <div class="container" style="margin-bottom: 5%">
        <div class="row mt-5">
            <div class="col-lg-6">
                <img src="images/cuisine.jpg" alt="Cuisine" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2>About Us</h2>
                <p>
                    At BeanScene Restaurant, we believe that dining is not just about food; it's an expression of artistry and a celebration of life's finer moments. Our commitment to delivering excellence is evident in every aspect of our establishment.
                </p>
                <p>
                    Situated in the historic precinct of The Rocks, our restaurant boasts an enviable location with breathtaking views of Sydney's iconic skyline. As you dine, you'll be treated to the panoramic vistas of the Sydney Opera House, the Sydney Harbour Bridge, and the bustling Sydney Harbour. The backdrop to your meal is a masterpiece in itself.
                </p>
                <p>
                    Our culinary team, led by our visionary chef, crafts each dish with precision and creativity. Using only the freshest, locally sourced ingredients, we weave flavors and textures into a symphony of taste. Whether you savor our signature dishes, indulge in our seasonal specials, or explore our extensive wine list, you'll discover a world of gastronomic delight.
                </p>


            </div>
        </div>
    </div>




</body>

